@import 'https://doublee.dev/fonts/fonts.css';
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap");
@layer doublee-global {
  html {
    font-size: 18px;
  }
  :root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    --font-family-body: 'Berkeley Old Style', 'Californian FB', Georgia, serif;
    --font-family-headings: 'Copernicus New Cond', sans-serif;
    --font-family-accent: 'Neue Montreal', 'Neue Helvetica', Helvetica, Arial, sans-serif;
    --font-adjust-sans-serif: ex-height 0.5;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --color-primary: #845ec2;
    --color-secondary: #00c9a7;
    --color-accent: #ba3caf;
    --color-info: #00d2fc;
    --color-warning: #f9c971;
    --color-success: #00c9a7;
    --color-error: #d23e3e;
    --color-light: #efedff;
    --color-dark: #4b4453;
    --color-white: #ffffff;
    --color-primary-muted: #b39cd0;
    --color-secondary-muted: color-mix(in srgb, var(--color-secondary), rgb(from var(--color-secondary) calc(255 - r) calc(255 - g) calc(255 - b)) 40%);
    --color-body-text: #181825;
    --color-body-text-muted: color-mix(in srgb, var(--color-body-text), rgb(from var(--color-body-text) calc(255 - r) calc(255 - g) calc(255 - b)) 40%);
    --typescale: 1.2;
  }
  @media (min-width: 768px) {
    :root {
      --typescale: 1.25;
    }
  }
  :root {
    --font-size-xs: calc(calc(1rem / var(--typescale)) / var(--typescale));
    --font-size-sm: calc(1rem / var(--typescale));
    --font-size-base: 1rem;
    --font-size-md: calc(1rem * var(--typescale));
    --font-size-lg: calc(calc(1rem * var(--typescale)) * var(--typescale));
    --font-size-xl: calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale));
    --font-size-xxl: calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
    --font-size-display: calc(calc(calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
    --spacing-xxs: calc(calc(calc(calc(calc(calc(1rem / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale));
    --spacing-xs: calc(calc(calc(calc(1rem / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale));
    --spacing-sm: calc(calc(1rem / var(--typescale)) / var(--typescale));
    --spacing-md: 1rem;
    --spacing-lg: calc(calc(1rem * var(--typescale)) * var(--typescale));
    --spacing-xl: calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
    --spacing-xxl: calc(calc(calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
  }
  body {
    color: var(--color-body-text);
    font-family: var(--font-family-body);
    font-weight: 300;
    font-size: var(--font-size-base);
  }
  h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-semibold);
  }
  h1, h2 {
    font-family: var(--font-family-headings);
    margin-block-end: var(--spacing-sm);
  }
  h3, h4, h5, h6 {
    font-family: var(--font-family-accent);
    font-size-adjust: var(--font-adjust-sans-serif);
    color: var(--color-dark);
    margin-block: var(--spacing-xs);
  }
  h1 {
    font-size: var(--font-size-xl);
    margin-block-start: var(--spacing-lg);
  }
  h2 {
    font-size: var(--font-size-lg);
    margin-block-start: var(--spacing-xl);
  }
  h3 {
    font-size: var(--font-size-md);
    margin-block-start: var(--spacing-sm);
  }
  h4, h5, h6 {
    font-size: var(--font-size-base);
  }
  p, ul, ol {
    margin-block: var(--spacing-md);
  }
  ul, ol {
    margin-inline-start: var(--font-size-base);
  }
}
#storybook-explorer-tree button {
  font-size: 0.95rem;
  font-weight: 530;
}
#storybook-explorer-tree .sidebar-item button, #storybook-explorer-tree .sidebar-item a {
  font-size: 0.95rem;
  font-weight: 400;
}

#storybook-explorer-tree #tycho_components {
  display: none;
}

/*# sourceMappingURL=manager.css.map */
